.footer {
  margin: 100px 200px 20px 200px;
  display: flex;
  justify-content: center;
  align-items: center;

  .logo {
    color: #2879fe;
    font-weight: bold;
    font-size: 24px;
  }

  .copyright {
    margin-left: 20px;
    font-size: 12px;
    color: gray;
  }
}
