.navbar {
  height: 5rem;
  background-color: black;
  color: white;

  .wrapper {
    padding: 0 30px;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;

    .item {
      display: flex;
      align-items: center;
      font-size: 18px;
      transition: 300ms ease all;
    }
    .item:hover {
      font-weight: bold;
    }

    .left {
      display: flex;
      align-items: center;
      gap: 25px;
    }
    .center {
      font-size: 30px;
      font-weight: bold;
      text-transform: uppercase;
      color: #2879fe;
    }
    .right {
      display: flex;
      align-items: center;
      gap: 25px;
    }
    .icons {
      display: flex;
      gap: 15px;
      color: white;
      cursor: pointer;

      .cartIcon {
        position: relative;
        span {
          font-size: 12px;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: #2879fe;
          color: white;
          position: absolute;
          top: -10px;
          right: -10px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
